# Executables, swap files, etc
.*.swp
rtable

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.exe

!Makefile
!Makefile.exe

combo_not.txt
combo_not.zip